<form [formGroup]="infoForm">
  <nb-card>
    <nb-card-header class="d-flex">
      Form nhập thông tin
      <button class="ml-auto p-2" nbButton hero status="primary" (click)="dismiss()">
        <nb-icon icon="close-outline"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label class="label">Lý do hủy đơn hàng<span class="text-danger ml-2">*</span></label>
            <!-- <input nbInput fullWidth class="form-control" formControlName="description" status="{{(this.infoForm.get('description').invalid
               &&this.infoForm.get('description')?.touched) ? 'danger' : null }}" trim="blur"> -->
            <textarea rows="4" nbInput fullWidth class="form-control" formControlName="description" status="{{(this.infoForm.get('description').invalid &&this.infoForm.get('description')?.touched) ? 'danger' : null }}" trim="blur"></textarea>
            <!-- <ngx-inline-message [message]="'catGraphKpi.label.keyword'" [formName]="infoForm.get('kpiName')">
          </ngx-inline-message> -->
          </div>
        </div>
      </div>
      <div class="button-group-box">
        <div class="button-group">
          <div (click)="save()">Lưu lại</div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</form>