<ng-container>
	<div class="header-container">
		<div class="logo-search-box">
			<div class="logo-container">
				<div class="text-center disabled-focus" routerLink="/" style="font-size: 20px;
      line-height: 20px;padding-left: 20px; cursor: pointer; outline: none ;padding-left: 0px!important;">
					<span style="white-space: nowrap; display: inline-flex" class="align-middle">
						<!-- <span class="logo"></span> -->
						<img src="assets/images/logo.png" style="width:3rem;" alt="1">
						<span class="logo-title">BOOK STORE</span>
					</span>
				</div>
			</div>
			<form onsubmit="event.preventDefault()" class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>

		<div class="user-cart-box">
			<div class="user-detail-box">
				<img class="profile-icon" style="height: 50px;" src="assets/images/anonymous.png">
				<span class="user-detail" (click) = "onOpenLoginDialog()">
					<span>Tài khoản</span>
					<span>Hoàng Mạnh Hùng</span>
				</span>
			</div>
			<div class="cart-detail">
				<img class="profile-icon" style="height: 50px;" src="assets/images/cart.png">
				<span id="number-above-cart">2</span>
				<span>Giỏ hàng</span>
			</div>
		</div>
	</div>

</ng-container>