<ng-container>
	<div class="header-container">
		<div class="logo-search-box">
			<div class="logo-container">
				<div class="text-center disabled-focus" routerLink="/" style="font-size: 20px;
      line-height: 20px;padding-left: 20px; cursor: pointer; outline: none ;padding-left: 0px!important;">
					<span style="white-space: nowrap; display: inline-flex" class="align-middle">
						<!-- <span class="logo"></span> -->
						<img src="assets/images/logo.png" style="width:3rem;" alt="1">
						<!-- <span class="logo-title">BOOK STORE</span> -->
					</span>
				</div>
			</div>
			<!-- <form onsubmit="event.preventDefault()" class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form> -->
		</div>

		<div *ngIf="user" class="user-cart-box">
			<div class="cart-detail" (click)="navigateToCart()">
				<img class="profile-icon" style="height: 50px;" src="assets/images/cart.png">
				<span id="number-above-cart">{{totalQuantity}}</span>
				<span>Giỏ hàng</span>
			</div>
		</div>

		<div *ngIf="!user">
			<div class="login-logout-box">
				<span (click)="onOpenLoginDialog()">Đăng nhập</span>/<span (click)="onOpenLoginDialog()">Đăng ký</span>
			</div>
		</div>

		<div *ngIf="user" class="dropdown">
			<div class="user-detail-box">
				<img class="profile-icon" style="height: 50px;" src="assets/images/anonymous.png">
				<span class="user-detail">
					<span>Tài khoản</span>
					<span *ngIf="user">{{user?.lastName}} <nb-icon icon="arrow-down"></nb-icon></span>
				</span>
			</div>
			<div class="dropdown-content">
				<li (click)="router.navigate(['main-pages/order'])">Quản lý đơn hàng</li>
				<li (click)="router.navigate(['main-pages/order-info'])">Quản lý thông tin giao hàng</li>
				<li (click)="router.navigate(['auth/change-password'])">Đổi mật khẩu</li>
				<li (click)="onLogout()">Log out</li>
			</div>
		</div>
	</div>

</ng-container>