<div class="dvFPWG">
  <div class="hfMLFx">
    <div class="main-title">
      <h4>Giỏ Hàng</h4>
    </div>
    <div class="styles__Content-sc-1mncg38-1 kXPYZZ">
      <div class="styles__Left-sc-1mncg38-2 negmo">
        <div class="styles__StyledContainerComponent-sc-9ar1hx-0 bvhHZE">
          <div class="jKLiJX">
            <label class="hNjxWW">
              <input type="checkbox" [(ngModel)]="checkedAllFlag" (change)="changeSelectedAllItems(checkedAllFlag)">
              <span class="checkbox-fake"></span>
              <span class="label">Tất cả ({{products.length}} sản phẩm)</span>
            </label>
            <span>Đơn giá</span>
            <span>Số lượng</span>
            <span>Thành tiền</span>
            <span class="remove-all" (click)="onClearCart()">
              <nb-icon icon="trash-2-outline"></nb-icon>
            </span>
          </div>
          <div>
            <div class="infinite-scroll-component " style="height: auto; overflow: auto;">
              <div class="styles__StyledSeller-sc-1x870ln-0 kJwXxa">
                <div class="styles__StyledIntended-sc-1x870ln-1 ihAmbT">
                  <div class="sellers__group">
                  </div>
                  <div *ngFor="let product of products">
                    <ngx-cart-item [item]="product" #cartItem></ngx-cart-item>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="eEhtFa">
        <div class="right-inner" style="top: -240px;">
          <div>
            <div class="flcp_container" style="border-radius: 4px;">
              <div class="Section__Container-sc-r6ysni-0 styles__StyledAddressBlock-sc-vgfrvy-0 bVA-DDf cTGPxG">
                <div class="block-header">
                  <h3 class="block-header__title">Giao tới</h3>
                  <a class="block-header__nav" (click)="onClickViewListOrderInfos()">Thay đổi</a>
                </div>
                <div class="customer_info">
                  <p class="customer_info__name">{{selectedOrderInfo?.name}}</p><i></i>
                  <p class="customer_info__phone">{{selectedOrderInfo?.phone}}</p>
                </div>
                <div class="address">{{selectedOrderInfo?.address}}</div>
              </div>
            </div>
          </div>

          <div class="bVA-DDf gOWblv">
            <h3 class="block-header__title">Hình thức thanh toán</h3>
            <div class="kPqUSk">
              <div *ngFor="let item of PAYMENT_TYPE">
                <label class="IYkXU">
                  <input type="radio" readonly="" name="payment-method" [value]="item.type"
                    (change)="onClickRadioPayment($event)">
                  <span class="radio-fake"></span>
                  <span class="label">
                    <div class="eydcWx">
                      <img class="method-icon" [src]="item.icon" width="32" height="32" alt="icon">
                      <div class="method-content">
                        <div class="method-content__title"><span>{{item.text}}</span></div>
                      </div>
                    </div>
                  </span>
                </label>
              </div>
            </div>
          </div>

          <div class="iRKLRb">
            <ul class="prices__items">
              <li class="prices__item">
                <div class="prices__text">Tạm tính</div>
                <div class="prices__value">{{totalOriginalPrice | currency: "VND"}}</div>
              </li>
              <li class="prices__item">
                <div class="prices__text">Giảm giá</div>
                <div class="prices__value">{{totalDiscount | currency: "VND"}}</div>
              </li>
            </ul>
            <div class="prices__total"><span class="prices__text">Tổng tiền</span>
              <div class="prices__content">
                <div class="prices__value prices__value--empty">{{totalPrice | currency: "VND"}}</div>
                <span class="prices__value--noted">(Đã bao gồm VAT nếu có)</span>
              </div>
            </div>
          </div>
          <button [ngClass]="{'bsEPkA' : isValidBuy, 'disabled-bsEPkA' : !isValidBuy}" [disabled]="!isValidBuy"
            (click)="onClickBuy()">Mua Hàng ({{totalQuantity}})</button>
        </div>
      </div>
    </div>
  </div>