<div class="col-lg-12">
  <h1 id="title" class="title">{{'changePass.changePassTitle'|translate}}</h1>
  <nb-alert outline="danger" *ngIf="changePassFail" closable (close)="onClose()">{{message}}</nb-alert>
  <nb-alert outline="success" *ngIf="changePassSuccess" closable (close)="onCloseSuccess()">{{message}}</nb-alert>
  <form [formGroup]="userForm"  aria-labelledby="title">
    <div class="form-control-group">
      <label class="label" for="currentPassword">{{'changePass.currentPassword'|translate}}<span class="text-danger ml-2">*</span></label>
      <input nbInput
             fullWidth
             name="currentPassword"
             type="password"
             id="currentPassword"
             trim
             formControlName="currentPassword"
             placeholder="{{'changePass.currentPassword'|translate}}"
             [status]="userForm.get('currentPassword').dirty ?
           (userForm.get('currentPassword').invalid  ? 'danger' : 'success') : ''">
      <ng-container *ngIf="userForm.get('currentPassword').invalid && userForm.get('currentPassword').touched ">
        <ngx-inline-message [formName]="userForm.get('currentPassword')" [message]="'changePass.currentPassword'"></ngx-inline-message>
      </ng-container>
    </div>

    <div class="form-control-group">
      <label class="label" for="password">{{'changePass.password'|translate}}<span class="text-danger ml-2">*</span></label>
      <input nbInput
             fullWidth
             name="password"
             type="password"
             id="password"
             trim
             formControlName="password"
             placeholder="{{'changePass.password'|translate}}"
             [status]="userForm.get('password').dirty ?
           (userForm.get('password').invalid  ? 'danger' : 'success') : ''">
      <ng-container *ngIf="userForm.get('password').invalid && userForm.get('password').touched ">
        <ngx-inline-message [formName]="userForm.get('password')" [message]="'changePass.password'"></ngx-inline-message>
      </ng-container>
    </div>

    <div class="form-control-group">
      <label class="label" for="confirmPassword">{{'changePass.confirmPassword'|translate}}<span class="text-danger ml-2">*</span></label>
      <input nbInput
             fullWidth
             name="confirmPassword"
             type="password"
             id="confirmPassword"
             trim
             formControlName="confirmPassword"
             placeholder="{{'changePass.confirmPassword'|translate}}"
             [status]="userForm.get('confirmPassword').dirty ?
           (userForm.get('confirmPassword').invalid  ? 'danger' : 'success') : ''">
      <ng-container *ngIf="userForm.get('confirmPassword').invalid && userForm.get('confirmPassword').touched ">
        <ngx-inline-message [formName]="userForm.get('confirmPassword')" [message]="'changePass.confirmPassword'"></ngx-inline-message>
      </ng-container>
    </div>
    <div *ngIf="showCaptcha" class="form-group">
      <re-captcha style="display: flex; justify-content: center;" formControlName="recaptchaReactive"></re-captcha>
    </div>
    <ngx-inline-message *ngIf="showCaptcha" [message]="'login.recaptchaReactive'|translate" [formName]="userForm.get('recaptchaReactive')"></ngx-inline-message>


    <button nbButton
            fullWidth [disabled]="userForm.invalid"
            (click)="changePass()" >
      {{'changePass.btnChange'|translate}}
    </button>
  </form>

</div>
