div {
  display: block;
}

.product-item {
  text-decoration: none;
  display: flex;
  position: relative;
  border: 1px solid transparent;
}

.fkDgwT {
  display: flex;
  padding: 12px 16px;
  color: rgb(36, 36, 36);
  text-decoration: none;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.product-item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.thumbnail {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  margin: 0px 12px 12px;
  text-align: center;
  position: relative;
}

.thumbnail-image{
  height: 210px;
}

.hdozRK {
  display: block;
  position: absolute;
  z-index: 2;
}

.name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.name > h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0px 0px 4px;
  line-height: 20px;
  word-break: break-word;
}

.uDeVr {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 2px;
}

.price-discount {
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: rgb(56, 56, 61);
  margin: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.product-price {
  padding-top: 12px;
  display: flex;
  align-items: flex-end;
  color: rgb(255, 66, 78);
}

.product-price__current-price {
  font-size: 32px;
  line-height: 40px;
  margin-right: 8px;
  font-weight: 500;
}

.product-price__list-price {
  color: rgb(128, 128, 137);
  text-decoration: line-through;
  font-size: 14px;
  line-height: 20px;
}

.product-price__discount-rate {
  font-weight: 400;
  margin-left: 8px;
  border: 1px solid rgb(255, 66, 78);
  border-radius: 2px;
  background-color: rgb(255, 240, 241);
  color: rgb(255, 66, 78);
  line-height: 18px;
  font-size: 14px;
  padding: 0px 4px;
}

.cd-add-to-cart {
  display: inline-block;
  background: #1a94ff;
  cursor: pointer;
  padding: 5px;
  border-radius: 50em;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: .1em;
  text-decoration: none;
  transition: all .2s;
}