<a class="product-item"
  data-view-index="4" data-view-id="product_list_item"
  data-view-content="{&quot;click_data&quot;:{&quot;id&quot;:141472420,&quot;spid&quot;:172667781,&quot;position&quot;:4,&quot;trace_id&quot;:&quot;b44cGN2sUs0NFpXf&quot;}}"
  rel="nofollow">
  <span class="style__StyledItem-sc-18svp8n-0 fkDgwT">
    <div class="product-content-box">
      <div class="thumbnail">
        <picture class="webpimg-container">
          <img [src]="item?.thumbnailUrl" [alt]="item?.name" class="thumbnail-image">
        </picture>
      </div>
      <div class="info">
        <div class="name">
          <h3>{{item?.name}}</h3>
        </div>
        <div class="styles__StyledRatingQtySold-sc-732h27-0 uDeVr" style="margin-top: 2px; margin-bottom: 2px;">
          <div class="styles__StyledQtySold-sc-732h27-2 fCfYNm">Đã bán {{item?.allTimeQuantitySold}}</div>
        </div>
        <div class="price-discount">
          <div class="price-discount__price">{{item?.price | currency: "VND"}}</div>
        </div>
        <div class="badge-benefits"></div>
        <div class="badge-additional-info"></div>
      </div>
    </div>
  </span>
</a>