<div class="product-item">
  <span class="fkDgwT">
    <div class="product-content-box" >
      <a class="thumbnail" [routerLink]="['/main-pages/products', item.id]">
        <picture class="webpimg-container">
          <img [src]="item?.thumbnailUrl" [alt]="item?.name" class="thumbnail-image">
        </picture>
      </a>
      <div class="info">
        <div class="name">
          <h3>{{item?.name}}</h3>
        </div>
        <div class="styles__StyledRatingQtySold-sc-732h27-0 uDeVr" style="margin-top: 2px; margin-bottom: 2px;">
          <div class="styles__StyledQtySold-sc-732h27-2 fCfYNm">Đã bán {{item?.allTimeQuantitySold}}</div>
        </div>
        <div class="price-discount">
          <div class="product-price">
            <div class="product-price__current-price">{{item?.price | currency: "VND"}}</div>
            <div class="product-price__list-price">{{item?.originalPrice | currency: "VND"}}</div>
            <div class="product-price__discount-rate">-{{item?.discountRate}}%</div>
          </div>
          <div class="cd-add-to-cart" (click)="addProductToCart()">Add To Cart<nb-icon icon="shopping-cart-outline"></nb-icon></div>
        </div>
      </div>
    </div>
  </span>
</div>