@media only screen and (device-width: 2736px) and (device-height: 1824px) {
  .gauge-chart-style {
    height: 6rem;
    min-width: 6rem;
  }
  .value-chart-kpi {
    font-size: 2.5rem !important;
  }
  .gauge-chart-style-menu {
    height: 5rem;
    min-width: 5rem;
  }
  .value-chart-kpi-menu {
    font-size: 2rem !important;
  }
}

@media only screen and (device-width: 3000px) and (device-height: 2000px) {
  .gauge-chart-style {
    height: 7rem;
    min-width: 7rem;
  }
  .value-chart-kpi {
    font-size: 2.7rem !important;
  }
  .gauge-chart-style-menu {
    height: 5rem;
    min-width: 5rem;
  }
  .value-chart-kpi-menu {
    font-size: 2rem !important;
  }
}

@media only screen and (device-width: 2160px) and (device-height: 1440px) {
  .gauge-chart-style {
    height: 6rem;
    min-width: 6rem;
  }
  .value-chart-kpi {
    font-size: 2.5rem !important;
  }
  .gauge-chart-style-menu {
    height: 5rem;
    min-width: 5rem;
  }
  .value-chart-kpi-menu {
    font-size: 2rem !important;
  }
}

@media only screen and (device-width: 1366px) and (device-height: 768px) {
  .gauge-chart-style {
    height: 6rem;
    min-width: 6rem;
  }
  .value-chart-kpi {
    font-size: 2rem !important;
  }
  .gauge-chart-style-menu {
    height: 5rem;
    min-width: 5rem;
  }
  .value-chart-kpi-menu {
    font-size: 2rem !important;
  }
}

@media only screen and (device-width: 1280px) and (device-height: 720px) {
  .gauge-chart-style {
    height: 5.6rem;
    min-width: 5.6rem;
  }
  .value-chart-kpi {
    font-size: 1.9rem !important;
  }
  .gauge-chart-style-menu {
    height: 5rem;
    min-width: 5rem;
  }
  .value-chart-kpi-menu {
    font-size: 2rem !important;
  }
}
