.custom-title {
  color: #59686d;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

//.image-left {
//  background: url('http://baocao.mic.gov.vn:8080/ioc/common/images/bg-img-login.jpg') no-repeat;
//  background-size: cover;
//  width: 60%;
//  border-bottom-left-radius: 10px;
//  border-top-left-radius: 10px;
//}
